{% extends "base.html" %} {% block content %}
<div class="sidebar">
  <h1 class="sidebar-title">
    ANALISIS<br />SENTIMEN<br />INSTITUSI<br />POLRI
  </h1>
  <div class="sidebar-menu">
    <a href="{{ url_for('kelola_data') }}" class="menu-item">Kelola Data</a>
    <a href="{{ url_for('processing') }}" class="menu-item">Processing</a>
    <a href="{{ url_for('uji_coba') }}" class="menu-item">Uji Coba</a>
    <a href="{{ url_for('info_model') }}" class="menu-item active"
      >Info Model</a
    >
  </div>
</div>

<div class="main-content">
  <div class="content-header">
    <h2>Info Model</h2>
  </div>

  <div class="content-text">
    <p>
      Halaman ini menampilkan informasi mengenai model yang digunakan dalam
      analisis sentimen. Model ini menggunakan algoritma Naive Bayes + AdaBoost
      dari 2.094 data dengan sentimen netral 196 data, sentimen positif 707
      data, dan sentimen negatif 1.191 data. Pembagian 90:10 untuk
      mengklasifikasikan data sentimen.
    </p>
  </div>

  <div class="upload-section">
    <div class="metrics-section">
      <div class="metric-card">
        <div class="metric-title">Akurasi</div>
        <div class="metric-value">87.6%</div>
      </div>

      <div class="metric-card">
        <div class="metric-title">Precision</div>
        <div class="metric-value">88%</div>
      </div>

      <div class="metric-card">
        <div class="metric-title">Recall</div>
        <div class="metric-value">88%</div>
      </div>

      <div class="metric-card">
        <div class="metric-title">F1-Score</div>
        <div class="metric-value">87%</div>
      </div>

      <div class="metric-card">
        <div class="metric-title">Nilai Kappa</div>
        <div class="metric-value learning-rate">0.73436</div>
      </div>

      <div class="metric-card">
        <div class="metric-title">AUC</div>
        <div class="metric-value learning-rate">94.2%</div>
      </div>

      <div class="metric-card">
        <div class="metric-title">Log Loss</div>
        <div class="metric-value n-estimator">35.9%</div>
      </div>
      <img
        src="../static/images/cm.png"
        alt="Confusion Matrix"
        id="confusion-matrix"
        class="confusion-matrix"
        width="600"
      />
    </div>
  </div>
</div>
{% endblock %}
